<!DOCTYPE html>
<html lang="{{ metadata.language }}">
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Eleventy" />
    <meta name="color-scheme" content="light" />
    <meta name="msapplication-TileColor" content="#F9FAFB" />
    <meta name="theme-color" content="#F9FAFB" />
    <meta name="view-transition" content="same-origin">
    <!-- assets -->
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="canonical" href="{{ metadata.url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ '/styles/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/styles/glide.core.css' | url }}">
    <link rel="stylesheet" href="{{ '/styles/glightbox.min.css' | url }}">
    <!-- page data -->
    <title>{% if title %}{{title}} :: {% endif %}{{metadata.title}} :: Massachusetts</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="keywords" content="{{ metadata.keywords }}">
    <meta name="content" content="{{ metadata.keywords }}">
    <meta name="property" content="{{ metadata.keywords }}">
    <!-- OG -->
    <meta property="og:site_name" content="{{ metadata.site }}">
    <meta property="og:url" content="{{ metadata.url }}">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:image" content="{{ metadata.logo }}">
    <script type="text/javascript" charset="UTF-8" src="{{ '/js/glide.min.js' | url }}"></script>
    <script type="text/javascript" charset="UTF-8" src="{{ '/js/glightbox.min.js' | url }}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-117702205-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ env.GOOGLE_TAG_ID}}');
    </script>
    </head>

    <body class="font-sans font-normal text-sm">
        {% include "components/header.njk" %}
        {% block content %}{% endblock %}
        {% include "components/footer.njk" %}

        <script src="https://maps.googleapis.com/maps/api/js?key={{ env.GOOGLE_MAPS_KEY }}&libraries=places"></script>
        <script type="text/javascript" charset="UTF-8" src="{{ '/scripts/map.js' | url }}"></script>
        <script type="text/javascript" charset="UTF-8" src="{{ '/scripts/gallery.js' | url }}"></script>
        <script type="text/javascript" charset="UTF-8" src="{{ '/scripts/carousel.js' | url }}"></script>
        <script type="text/javascript" charset="UTF-8" src="{{ '/scripts/nav.js' | url }}"></script>
    </body>
</html>